@(objForm: Form[(models.Link)])

@import helper._
@import helper.bootstrap._

@main(Messages("product.name")) {

<div class="row-fluid" id="links">
 <div class="span3">
  <div class="well sidebar-nav">
   <ul class="nav nav-list" data-bind="foreach: categories()">
    <li><a data-bind="attr: { href: url() }, text: name"></a></li>
   </ul>
  </div>
 </div>
 <div class="span9">
  <h1>@Messages("link.list.title")</h2>
  <a href="#addLink" role="button" class="btn pull-right" data-toggle="modal"><i class="icon-plus-sign"></i> @Messages("link.add.title")</a>
  <div>
   <table class="table table-bordered table-striped table-hover">
    <thead>
     <tr>
      <th style="width: 2em">@Messages("link.read")</th>
      <th>@Messages("link.url")</th>
      <th>@Messages("link.description")</th>
     </tr>
    </thead>
    <tbody data-bind="foreach: links()">
     <tr data-bind="css: { 'read': read() }">
      <td><input type="checkbox" data-bind="checked: read, click: doRead"></td>
      <td><a data-bind="attr: { href: url }, text: url"></a></td>
      <td data-bind="text: description"></td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>
<div id="addLink" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addLink" aria-hidden="true">
 @helper.bootstrap.form(action = controllers.api.routes.Link.add(None), dataBind="submit: doSubmit", args = 'class -> "form-horizontal", 'id -> "add-link") {
  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="myModalLabel">@Messages("link.add.title")</h3>
  </div>
  <div class="modal-body">
   <fieldset>
    <input type="hidden" name="poster" id="poster" value="1">
    @helper.bootstrap.inputText(field = objForm("url"), dataBind = "value: url", args = 'class -> "span8", '_label -> Messages("link.url"))
    @helper.bootstrap.inputText(field = objForm("category"), dataBind = "value: category", args = 'class -> "span8", '_label -> Messages("link.category"))
    @helper.bootstrap.inputText(field = objForm("position"), dataBind = "value: position", args = 'class -> "span8", '_label -> Messages("link.position"))
    @helper.bootstrap.textarea(field = objForm("description"), dataBind="value: description", args = 'class -> "span8", 'rows -> 5, '_label -> Messages("link.description"))
 </fieldset>
 </div>
 <div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-ban-circle"></i> @Messages("general.cancel")</button>
  <button type="submit" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> @Messages("general.add")</button>
 </div>
 }
</div>

<script>
$(function(){
  var view = LinkViewModel();
  ko.applyBindings(view, $("#links").get(0));

  var addLink = AddLinkViewModel();
  ko.applyBindings(addLink, $("#addLink").get(0));
});
</script>
}