@(title: String)(content: Html)

<!DOCTYPE html>

<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Cory G Watson">
  <title>@title</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
  <script src="@routes.Assets.at("js/baron.js")"></script>
 </head>
 <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#">@Messages("product.name")</a>
    </div>
    <div class="nav-collapse collapse">
      <p class="navbar-text pull-right">
       Logged in as <a href="#" class="navbar-link">Username</a>
      </p>
      <ul class="nav">
       <li class="active"><a href="#">@Messages("general.home")</a></li>
       <li><a href="#about">@Messages("general.about")</a></li>
      </ul>
      <li class="pull-left"><a href="#addLink" role="button" class="btn btn-primary pull-right" data-toggle="modal"><i class="icon-plus-sign icon-white"></i> @Messages("link.add.title")</a></li>
    </div>
   </div>
  </div>

  <div class="container">
   @content
   <hr>
   <footer>
    <p>&copy; Cory G Watson 2013</p>
   </footer>
  </div>
 </body>
</html>
