@(title: String)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>TeamRead.Me: @title</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/application.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="main-region" class="container">

       <li>Static content.</li>

    </div><!-- /.container -->

    <script type="text/template" id="link-template">
     <td><a href="<%= url %>" target="_blank"><%= url %></a></td>
     <td><%= description %></td>
     <td>
      <a href="#contacts/<%= id %>" class="btn btn-sm btn-default js-show"><i class="glyphicon glyphicon-eye-open"></i> Show</a>
      <button class="btn btn-sm btn-danger js-delete"><i class="glyphicon glyphicon-remove"></i> Delete</button>
     </td>
    </script>

    <script type="text/template" id="link-list">
     <thead>
      <tr>
       <th>URL</th>
       <th>Description</th>
       <th></th>
      </tr>
     </thead>
     <tbody>
     </tbody>
    </script>

    <script type="text/template" id="link-view">
     <h1><%= description %></h1>
     <p><strong>URL:</strong> <%= url %></p>
    </script>

    <script type="text/template" id="missing-link-view">
     <div class="alert alert-danger">This link does not exist.</div>
    </script>

    <script type="text/template" id="loading-view">
     <h1><%= title %></h1>
     <p><%= message %></p>
     <div id="spinner"></div>
    </script>

    <script type="text/template" id="contact-form">
    <h1>Edit Link</h1>
    <form>
     
    </form>
    </script>

    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="http://marionettejs.com/downloads/backbone.marionette.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/common/views.js"></script>
    <script src="/assets/js/entities/link.js"></script>
    <script src="/assets/js/apps/links/links_app.js"></script>
    <script src="/assets/js/apps/links/list/list_view.js"></script>
    <script src="/assets/js/apps/links/list/list_controller.js"></script>
    <script src="/assets/js/apps/links/show/show_controller.js"></script>
    <script src="/assets/js/apps/links/show/show_view.js"></script>
    <script type="text/javascript">

     TeamReader.start();
    </script>
  </body>
</html>
